[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.6"
djangorestframework = "==3.10.3"
django-cors-headers = "*"
dj-database-url = "*"
dj-static = "*"
static3 = "*"
gunicorn = "*"
psycopg2-binary = "*"
dateinfer = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.8"
