.about-page-container {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.page-heading {
  background-color: #a86800;
  border-radius: var(--border-radius-small);
  margin: 50px auto 30px;
  width: 100px;
  text-align: center;
  color: white;
}

.section-heading {
  background-color: #a86800;
  border-radius: var(--border-radius-small);
  margin-top: 10vh;
  width: fit-content;
  text-align: left;
  color: white;
}
