.add-container-heading {
  text-align: center;
  background-color: #e5a702;
  border-radius: 4px;
  color: white;
  width: 100%;
}

.select-container {
  margin: 15px 30%;
  width: fit-content;
  min-width: 40%;
}

.resources {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .resources {
    width: auto;
  }
}
