.add-resource-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  animation: open 0.25s;
}

.add-resource-form-heading {
  text-align: center;
  background-color: #a86800;
  border-radius: 4px;
  color: white;
  width: 100%;
}

.add-resource-form input,
.add-resource-form textarea {
  width: 100%;
}

@keyframes open {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}
