.add-resource-form-heading {
  text-align: center;
  background-color: #E5A702;
  border-radius: 4px;
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px) {
  form {
    width: 80%;
    margin: 0 10%;
  }
}