.App-header {
  background-color: #ff1616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-NavBar {
  background-color: #1a161b;
  color: rgb(183, 190, 35);
}

.content {
    margin-left: 35px;
    margin-right: 35px;

}