.header {
  background-color: #ff1616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
    margin-left: 35px;
    margin-right: 35px;

}

