.login-container {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

.username-input,
.password-input {
  width: 100%;
  max-width: 400px;
}

.submit-button {
  width: 200px;
  margin: 10px auto 20px;
}

span {
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
