button {
  background-color: #ffc93d;
  border: 2px solid #ffc93d;
  border-radius: var(--border-radius-button);
  min-width: 100px;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px #999;
  transition: all var(--fast-animation-time);
}

button:hover {
  background-color: #a86800;
  border-color: #a86800;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
