.comment-section-container {
  width: 100%;
  margin: 105px 0;
}

.comment-section-heading {
  background-color: #a86800;
  border-radius: 4px;
  text-align: center;
  color: white;
  width: 100%;
}

.add-comment {
  width: 100%;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  max-width: 400px;
}

.add-comment-btn {
  background-color: grey;
  border-radius: 5px;
  margin: 0;
  margin-right: 20px;
  border: 0;
  animation: open 0.25s ease-in-out;
}

.add-comment-btn-enabled {
  border-radius: 5px;
  margin: 0;
  margin-right: 20px;
  border: 0;
}

.cancel-button {
  background-color: darkgrey;
  border-color: darkgrey;
  border-radius: 5px;
  margin: 0;
  border: 0;
  animation: open 0.25s ease-in-out;
}

.cancel-button:hover {
  background-color: grey;
  border-color: grey;
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  .comment-section-heading {
    width: fit-content;
  }
}

@keyframes open {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}
