.comment-section-container {
  margin: 105px 0 105px 0;
}

.comment-section-heading {
  background-color: #e5a702;
  border-radius: 4px;
  color: white;
  width: fit-content;
}

.add-comment {
  border-style: none;
}

.btn-container {
  display: flex;
}

.add-comment-btn {
  background-color: grey;
  border-radius: 5px;
  margin: 0;
  display: inline-block;
  border: 0;
}

.add-comment-btn-enabled {
  border-radius: 5px;
  margin: 0;
  border: 0;
}

.cancel-button {
  background-color: darkgrey;
  border-color: darkgrey;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
  display: inline-block;
  border: 0;
}

.cancel-button:hover {
  background-color: grey;
  border-color: grey;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .comment-section-heading {
    width: 100%;
    text-align: center;
  }
}
