.detail-page-container {
  max-width: 768px;
  margin: 0 auto;
}

.heading {
  background-color: #a86800;
  border-radius: 4px;
  width: fit-content;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.author-container {
  margin: 15px 0;
}

.media-container {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.image {
  max-width: 100%;
  height: 450px;
  border-radius: 3px;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 3px;
}

.description-section {
  padding: 0;
}

.description-heading {
  background-color: #a86800;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  color: white;
}

.paragraph-container {
  margin: 15px 0;
  display: block;
  width: 100%;
  white-space: pre-line;
}

.edit-delete-buttons-container {
  background-color: rgb(225 225 225);
  border: 2px solid #ffc93d;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 160px;
  min-width: 150px;
  margin: 20px auto;
  padding: 10px 0;
}

.edit-button-container {
  background-color: #ffc93d;
  border-color: #ffc93d;
  border-radius: 15px;
  margin: 0 5px;
  width: 60px;
  min-width: initial;
  padding: unset;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.edit-button-container:hover {
  background-color: #a86800;
  border-color: #a86800;
}

.edit-button {
  position: relative;
  left: 4px;
  margin: 10px;
  padding: 1px;
  color: white;
  font-size: 2rem;
}

.edit-button-container:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.delete-button-container {
  margin: 0 5px;
  background-color: #ffc93d;
  border-color: #ffc93d;
  border-radius: 15px;
  width: 60px;
  min-width: initial;
  padding: unset;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.delete-button-container:hover {
  background-color: #a86800;
  border-color: #a86800;
}

.delete-button {
  position: relative;
  left: 1px;
  margin: 10px;
  padding: 1px;
  color: white;
  font-size: 2rem;
}

.delete-button-container:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 45%;
  margin-right: 45%;
  font-size: 2.5rem;
  color: silver;
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .description-heading {
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .edit-delete-buttons-container {
    width: 120px;
  }

  .edit-button-container,
  .delete-button-container {
    width: 55px;
  }

  .edit-button,
  .delete-button {
    left: 1px;
    font-size: 1.8rem;
  }
}
