.detail-page-container {
  margin-left: 15%;
  margin-right: 15%;
}

.heading {
  font-size: 3rem;
}

.author-container {
  margin: 15px 0 15px 0;
}

.media-container {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.image {
  height: 450px;
  border-radius: 3px;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 3px;
}

.paragraph-container {
  margin: 15px 0 15px 0;
  display: block;
  width: 70%;
  white-space: pre-line;
}

.post-section-container {
  border: 10px black;
}

.crud-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  margin: 20px 40%;
}


.edit-button {
  margin: 10px;
  float: right;
  color: orange;
  font-size: 2rem;
  cursor: pointer;
}

.delete-button {
  margin: 10px;
  float: right;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 45%;
  margin-right: 45%;
  font-size: 2.5rem;
  color: silver;

  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
