.container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.heading {
  font-size: 3rem;
  margin: 15px 0 15px 0;
}

.author-container {
  margin: 15px 0 15px 0;
}


.image {
  max-height: 500px;
  min-width: 50%;
  display: inline-block;
  margin: 15px 0 15px 0;
}

iframe {
  width: 835px;
  height: 460px;
  display: inline-block;
  margin: 15px 0 15px 0;
}

.value-container {
  width: 70%;
}

li {
  margin: 15px 0;
}


.paragraph-container {
  margin: 15px 0 15px 0;
  display: block;
  width: 70%;
}

