.header {
  background-color: #ff1616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-link {
  color: inherit;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding-left: 10%;
  overflow: hidden;
}