header {
  background-color: #ff1616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-link {
  color: inherit;
  text-decoration: none;
}