.header {
  background-color: #1992ff;
}

.header-title {
  padding: 40px 0;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}

.header-link {
  color: inherit;
  text-decoration: none;
}

.header-link > h1 {
  margin: 0;
}
