.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal-container {
  position: fixed;
  margin: 50px 0 50px 0;
  width: 100%;
  padding-left: 35%;
  padding-right: 35%;
  z-index: 100;
}

.modal {
  width: 30%;
  background-color: white;
  border-radius: 15px;
}

.header {
  background-color: red;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.question {
  padding: 0 15px;
  font-weight: bold;
}

.accept-button {
  background-color: #E01A00;
  border-color: #E01A00;
}

.accept-button:hover {
  background-color: #911100;
  border-color: #911100;
}

.cancel-button {
  background-color: darkgrey;
  border-color: darkgrey;
}

.cancel-button:hover {
  background-color: grey;
  border-color: grey;
}