.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal-container {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 100;
}

.modal {
  width: 30%;
  margin: 0 35%;
  background-color: white;
  border-radius: 15px;
}

.header {
  background-color: #023BE6;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.header-text {
  font-size: 1.5rem;
  padding: 15px;
}

.question {
  padding: 0 15px;
  font-weight: bold;
}

footer {
  height: fit-content;
  padding: 15px 0;
}
.accept-button {
  background-color: #023BE6;
  border-color: #023BE6;
  margin-bottom: 10px;
}

.accept-button:hover {
  background-color: #911100;
  border-color: #911100;
}

.cancel-button {
  background-color: darkgrey;
  border-color: darkgrey;
}

.cancel-button:hover {
  background-color: grey;
  border-color: grey;
}
