.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0 0 0 / 75%);
}

.modal-container {
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  animation: open 0.25s;
}

.modal {
  min-width: 300px;
  width: 80%;
  margin: 0 10%;
  background-color: white;
  border-radius: 15px;
}

.header {
  background-color: #ff1616;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.header-text {
  font-size: 1.5rem;
  padding: 15px;
}

.question {
  padding: 0 15px;
  font-weight: bold;
}

footer {
  height: fit-content;
  padding: 15px 0;
}

.accept-button {
  background-color: #ff1616;
  border-color: #ff1616;
  width: 90%;
  margin: 10px 5%;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.accept-button:hover {
  background-color: #911100;
  border-color: #911100;
}

.cancel-button {
  background-color: darkgrey;
  border-color: darkgrey;
  width: 90%;
  margin: 10px 5%;
  font-size: 1.3rem;
}

.cancel-button:hover {
  background-color: grey;
  border-color: grey;
}

@media screen and (min-width: 600px) {
  .modal-container {
    top: 40px;
  }

  .modal {
    width: 30%;
    margin: 0 35%;
  }

  .accept-button,
  .cancel-button {
    width: 40%;
    margin: 5px 30%;
  }
}

@keyframes open {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}
