.app-navbar {
  background-color:#8F1100;
  border-color: #8F1100;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.nav-item-link {
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  cursor:pointer;
}

.active {
  background-color: grey;
}

.nav-item-link:hover {
  background-color: #FFC93D;
  border-color: #FFC93D;
  color: white;
}