.app-navbar {
  background-color: #0059A8;
  /* background-color: #0244e3;
  border-color: #0244e3; */
  /* background: rgb(171,171,171);
  background: linear-gradient(90deg, rgba(171,171,171,1) 34%, rgba(0,0,0,1) 100%); */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 68, 227, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.nav-item-link {
  height: 100%;
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem 0.4rem;
  margin: 0 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #A86800;
}

.nav-item-link:hover {
  background-color: #F59800;
  border-color: #F59800;
  color: white;
}

.hamburger-btn {
  display: none;
  min-width: 60px;
  padding: 10px;
}

.hamburger-icon {
  font-size: 1.4rem;
}

@media screen and (max-width: 992px) {
  .nav-item-link {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-item-link {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 600px) {
  .app-navbar {
    padding: 5px 0 10px 0;
  }

  .hamburger-btn {
    display: block;
    width: 40px;
    margin: 0 0 0 0.4rem;
  }

  .nav-list {
    display: none;
    padding: 0px;
    animation: close 0.3s;
  }

  .nav-list-portrait-display {
    margin-top: 10px;
    display: block;
    list-style-type: none;
    padding: 0;
    animation: open 0.25s;
  }

  @keyframes open {
    0% {
      transform: translateY(-500px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .nav-item-link {
    width: 100%;
    margin: 0;
  }
}
