.app-navbar {
  background-color: #0059a8;
  padding: 5px 0 10px;
}

.hamburger-btn {
  display: block;
  min-width: auto;
  width: 70px;
  margin: 0 0 0 0.4rem;
  padding: 5px;
}

.hamburger-icon {
  font-size: 1.8rem;
}

.nav-list {
  display: none;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0;
  overflow: hidden;
  animation: close 0.25s ease-in-out;
}

.nav-list-portrait-display {
  margin-top: 10px;
  display: list-item;
  list-style-type: none;
  padding: 0;
  animation: open 0.25s ease-in-out;
}

.nav-item-link {
  display: inline-block;
  width: 100%;
  padding: 0.8rem 0.4rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.active {
  background-color: #ffc93d;
}

.nav-item-link:hover {
  background-color: #f59800;
  border-color: #f59800;
  color: white;
}

@keyframes open {
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 600px) {
  .nav-item-link {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .app-navbar {
    padding: 0;
  }

  .hamburger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-item-link {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
