.not-found-container {
  background-color: red;
  border-radius: var(--border-radius-small);
  width: 100%;
}

.not-found {
  min-height: 80px;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  color: white;
}
