.post-list-container {
  width: 100%;
}

.pagination-buttons-container {
  height: 40px;
  width: 200px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pagination-button {
  min-width: 70px;
  padding: 10px;
  margin: 0 10px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media screen and (min-width: 600px) {
  .pagination-button {
    padding: 10px;
    font-size: 1rem;
  }
}
