.post-container {
  max-height: 600px;
  margin: 40px 5%;
}

.image-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border: 5px solid f4f4f4;
  border-radius: var(--border-radius-small);
  width: 100%;
  height: 300px;
  padding: 5px;
  text-align: center;
  float: left;
}

.post-image {
  max-height: 100%;
  height: fit-content;
  max-width: 100%;
  width: fit-content;
  border-radius: var(--border-radius-small);
}

.text-container {
  display: inline-block;
  width: 100%;
  float: right;
  white-space: pre-line;
}

.post-title {
  background-color: #a86800;
  border-radius: var(--border-radius-small);
  margin: 0 0 15px;
  width: 100%;
  text-align: center;
  color: white;
}

.author-text-container {
  margin-bottom: 30px;
}

.author-name {
  display: inline-block;
  margin: 0;
}

.description-container {
  display: none;
  overflow: hidden;
  max-height: 150px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .post-container {
    min-height: 200px;
    margin: 20px 0;
    overflow: hidden;
  }

  .image-container {
    max-width: 50%;
  }

  .text-container {
    width: 40%;
  }

  .post-title {
    width: fit-content;
  }

  .description-container {
    display: block;
  }
}
