.post-container {
  width: 90%;
  min-height: 200px;
  margin: 20px 0 20px 0;
  /* border-style: solid;
  color: blue; */
  overflow: hidden
}


.container-link {
  color: inherit;
  text-decoration: none;
}

.image-container {
  width: 48%;
  height: 300px;
  /* border-style: solid;
  color: crimson; */
  text-align: center;
  float: left
}

.image {
  max-height: 100%; 
  max-width: 100%;
}

.text-container {
  margin-top: -10px;
  width: 40%;
  /* border-style: solid;
  color: green; */
  float: right
}

h3 {
  margin-bottom: 10px;
}

.author-name {
  display: inline-block;
  margin: 0;
}

.ratings-container {
  margin: 10px 0;
}


.ratings-container .fa-star {
  font-size: 1.4rem;
}


.orange {
  color: orange;
  cursor: pointer;
}

.white {
  color: white;
  cursor: pointer;
}


.description-container {
  margin: 30px 0 0 0;
}