.post-container {
  width: 90%;
  min-height: 200px;
  margin: 20px 0 20px 0;
  overflow: hidden;
}

.post-container-link {
  color: inherit;
  text-decoration: none;
}

.image-container {
  background-color: #f4f4f4;
  border: 5px solid f4f4f4;
  border-radius: 5px;
  width: 50%;
  height: 300px;
  padding: 10px;
  text-align: center;
  float: left;

}

.post-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
}

.text-container {
  margin-top: -10px;
  width: 40%;
  float: right;
  white-space: pre-line;
}

.post-title {
  margin-bottom: 10px;
}

.author-name {
  display: inline-block;
  margin: 0;
}

.description-container {
  margin: 30px 0 0 0;
}
