h2 {
  text-align: center;
}

.ratings-container {
  margin: 10px 0 40px 0;
}

.ratings-container .fa-star {
  font-size: 1.4rem;
}

.orange {
  color: orange;
}

.orange-pointer {
  color: orange;
  cursor: pointer;
  font-size: 1.6rem;
}

.purple {
  color: purple;
}

.white {
  color: white;
  cursor: pointer;
  font-size: 1.55rem;
}

.no-display {
  display: none;
}

.num-ratings {
  color: rgb(105, 105, 105);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
  display: inline;
}

.add-rating-button-container {
  display: inline;
  margin: 0 10px;
  padding: 5px;
  background-color: #F59800;
  border: 1px solid #F59800;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  cursor: pointer;
}

.add-rating-button-container:hover {
  background-color: #A86800;
  border-color: #A86800;
}

.add-rating-button-container:active {
  box-shadow: 0 2px #999;
  transform: translateY(2px);
}

.add-rating {
  position: relative;
  color: white;
  font-size: 1.1rem;
}

.rate-container {
  background-color: lightgray;
  width: 200px;
  margin-top: 10px;
  border-top: 3px solid orange;
  border-radius: 5px;
  animation: open 0.25s;
}

.rate-it-text {
  color: white;
  background-color: #A86800;
  border-radius: 5px;
  width: 50%;
  margin: 10% 25%;
}

.stars-container {
  width: 60%;
  padding: 10px 20%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .num-ratings {
    margin: 0;
  }

  .add-rating-button-container {
    margin: 0 10px;
  }

  .orange-pointer {
    font-size: 2rem;
  }

  .white {
    font-size: 1.8rem;
  }

  .rate-container {
    width: 100%;
    margin-top: 20px;
  }
}

@keyframes open {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}