.ratings-container {
  margin: 10px 0;
}

.ratings-container .fa-star {
  font-size: 1.4rem;
}

.orange {
  color: orange;
}

.white {
  display: none;
  color: white;
  cursor: none;
}

.num-ratings {
  color: rgb(105, 105, 105);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
  display: inline;
}

.add-rating {
  display: inline;
  cursor: pointer;
  color: red;
  size: 1.3rem;
}

#rating-error {
  font-family: 'Open Sans';
  font-weight: bold;
}

.rating-input {
  width: 40px;
  appearance: none;
}

.rating-submit-btn {
  background-color: orangered;
  width: auto;
  margin: 10px;
  border-radius: 5px;
  border: 0;
}

.rating-cancel-button {
  width: auto;
  margin: 10px;
  border-radius: 5px;
  border: 0;
}

