.ratings-container {
  margin: 10px 0;
}

.ratings-container .fa-star {
  font-size: 1.4rem;
}

.orange {
  color: orange;
}

.orange-pointer {
  color: orange;
  cursor: pointer;
  font-size: 1.4rem;
}

.purple {
  color: purple;
}

.white {
  color: white;
  cursor: pointer;
  font-size: 1.35rem;
}

.no-display {
  display: none;
}

.num-ratings {
  color: rgb(105, 105, 105);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
  display: inline;
}

.add-rating {
  display: inline;
  cursor: pointer;
  color: red;
  size: 1.3rem;
}

.rate-container {
  background-color: lightgray;
  width: 200px;
  margin-top: 10px;
  border-top: 3px solid orange;
  border-radius: 5px;
}