.spinner-container {
  padding-top: 20vh;
}

.spinner {
  display: flex;
  margin: 0 auto;
  font-size: 3rem;
  color: silver;

  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
