.update-resource-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  animation: open var(--animation-time);
}

.update-resource-form-heading {
  text-align: center;
  background-color: #a86800;
  border-radius: 4px;
  color: white;
  width: 100%;
}

.update-resource-form input,
.update-resource-form textarea {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.submit-button-enabled {
  background-color: auto;
  margin: 0;
}

.submit-button-disabled {
  background-color: grey;
  border-color: grey;
  margin: 0;
}

.submit-button-disabled:hover {
  background-color: grey;
  border-color: grey;
}

.cancel-button {
  margin: 0;
}

@keyframes open {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}
