.submit-button-enabled {
  background-color: auto;
}

.submit-button-disabled {
  background-color: grey;
  border-color: grey;
}

.submit-button-disabled:hover {
  background-color: grey;
  border-color: grey;
}