.update-resource-form {
  animation: open 0.25s;
}

.update-resource-form-heading {
  text-align: center;
  background-color: #A86800;
  border-radius: 4px;
  color: white;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.submit-button-enabled {
  background-color: auto;
  margin: 0;
}

.submit-button-disabled {
  background-color: grey;
  border-color: grey;
  margin: 0;
}

.submit-button-disabled:hover {
  background-color: grey;
  border-color: grey;
}

.cancel-button {
  margin: 0;
}

@keyframes open {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0);
  }
}
