.value-container {
  width: 100%;
  padding: 0 2%;
}

.values-heading {
  background-color: #A86800;
  border-radius: 4px;
  color: white;
  width: fit-content;
}

.value-item {
  margin: 15px 0;
  line-height: 1.6em;
}

@media screen and (max-width: 600px) {
  .value-container {
    padding: 0;
  }
  .values-heading {
    width: 100%;
    text-align: center;
  }
}
