::selection {
  background-color: #f59800;
  color: white;
}

:focus {
  border-color: #f59800;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -apple-system: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(70 70 70);
  word-spacing: 0.2em;
}

a {
  color: rgb(70 70 70);
}

p {
  line-height: 1.6em;
}

form {
  width: 50%;
  margin: 0 25%;
}

select {
  background-color: white;
  color: black;
  padding: 5px;
  width: fit-content;
  border: 2px solid #c7d0d2;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  outline-color: #f59800;
}

select option {
  border-color: #c7d0d2;
  outline-color: #f59800;
  font-size: 1rem;
}

input,
textarea {
  color: grey;
  width: 95%;
  padding: 10px 2%;
  margin: 10px 0;
  border: 2px solid #c7d0d2;
  border-radius: 20px;
  font-size: 1rem;
  outline-color: #f59800;
}

textarea {
  font-family: Roboto, sans-serif;
}

.icon {
  margin-right: 5px;
  color: gray;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.3rem;
  }

  form {
    width: 90%;
    margin: 0 5%;
  }

  input,
  textarea {
    width: 90%;
    padding: 10px 5%;
    margin: 0;
  }
}
