::selection {
  background-color: #FFC93D;
  color: white;
}

:focus {
  border-color: #FFC93D;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -apple-system: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
  word-spacing: 0.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.6em;
}

form {
  width: 50%;
  margin: 0 25%;
}

.icon {
  margin-right: 5px;
  color: gray;
}

select {
  background-color: white;
  color: black;
  padding: 10px;
  border: 2px solid #c7d0d2;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  outline-color: #FFC93D;
}

select option {
  border-color: #c7d0d2;
  outline-color: #FFC93D;
}

input,
textarea {
  color: grey;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: 2px solid #c7d0d2;
  border-radius: 20px;
  font-size: 1rem;
  outline-color: #FFC93D;
}

textarea {
  font-family: "Roboto";
}