* {
  box-sizing: border-box;
}

:root {
  --animation-time: 0.25s ease-in-out;
  --fast-animation-time: 0.1s ease-in-out;
  --max-width: 1080px;
  --border-radius-small: 5px;
  --border-radius-container: 15px;
  --border-radius-button: 10px;
}

::-webkit-scrollbar {
  border-radius: 30px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

::selection {
  background-color: #f59800;
  color: white;
}

:focus {
  border-color: #f59800;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -apple-system: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(70 70 70);
  word-spacing: 0.2em;
}

h1,
h2,
h3 {
  padding: 5px;
}

a {
  color: rgb(70 70 70);
  text-decoration: none;
}

p {
  line-height: 1.6em;
}

form {
  width: 100%;
}

select {
  background-color: white;
  outline-color: #f59800;
  border: 2px solid #c7d0d2;
  border-radius: var(--border-radius-small);
  padding: 5px;
  width: fit-content;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

select option {
  border-color: #c7d0d2;
  outline-color: #f59800;
  font-size: 1rem;
  cursor: pointer;
}

input,
textarea {
  border: 2px solid #c7d0d2;
  border-radius: 20px;
  outline-color: #f59800;
  width: 90%;
  padding: 10px 5%;
  margin: 0;
  color: grey;
  font-size: 1rem;
}

textarea {
  font-family: Roboto, sans-serif;
}

.icon {
  margin-right: 5px;
  color: gray;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}
